{% extends "layout.html" %}

{% block title %}Workspace - StudyLib{% endblock %}

{% block content %}
<div id="pageRoot" data-page="workspace"></div>
{% endblock %}

{% block scripts %}
<script>
window.WORKSPACE_ID = {{ workspace_id|tojson }};
window.WORKSPACE_NAME = {{ workspace_name|tojson }};
window.WORKSPACE_PERSONA = {{ persona|tojson }};
window.WORKSPACE_COURSE_ID = {{ course_id|tojson }};
window.WORKSPACE_COURSE_NAME = {{ course_name|tojson }};
window.WORKSPACE_COURSE_KLA = {{ course_kla|tojson }};
</script>
{% endblock %}
